<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Analyzing text</title>
</head>

<body>
<div class="container">


  <figure class="text-center">
  <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">Your Text is Ready!!!</label><br>
      <br><textarea class="form-control" name="text" id="exampleFormControlTextarea1" rows="8" columns="50" autocomplete="off" spellcheck="false" style="margin: 0px; width: 1419px; height: 302px;">{{analyzed_txt}}</textarea>
  </div>


  <h4 class="blockquote-footer">
      <br><li title="Source Title">{{purpose}}</li>
  </h4>
</figure>

</div>


</body>
</html>